<div class="flex flex-column flex-center">
    <div class="margin-y">
        <label for="fullPageLoading">Full Page Loading?</label>
        <input type="checkbox" [(ngModel)]="fullPageLoading"
            id="fullPageLoading" />
    </div>
    <div class="margin-y" *ngIf="fullPageLoading">
        <label for="useTemplate">Use Template?</label>
        <input type="checkbox" [(ngModel)]="useTemplate" id="useTemplate" />
    </div>
    <div class="margin-y">
        <label for="testRendering">Rendering Test?</label>
        <input type="checkbox" [(ngModel)]="testRendering"
        id="testRendering" />
    </div>
    <div class="margin-y">
        <button (click)="loadingTest()">
            Loading Test
        </button>
    </div>
</div>

<ng-template #template>
    <div class="template-test">
        Template
    </div>
</ng-template>

<ng-template #renderingTemplate>
    <div class="full-width">
        <h3 *ngIf="useTemplate">Template test</h3>
        <table class="full-width">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Title</th>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of results; let isLast = last"
                    [ngxBlockRendered]="isLast">
                    <td>{{result.userId}}</td>
                    <td>{{result.title}}</td>
                    <td>{{result.body}}</td>
                </tr>
                <tr *ngIf="!results || results.length === 0">
                    <td colspan="99">No results</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #notRenderingTemplate>
    <h3 *ngIf="useTemplate">Template test</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in viverra
    tortor. Fusce non
    tincidunt
    arcu. Nulla ultricies, nulla eu euismod bibendum, quam elit placerat quam,
    et aliquet enim
    nibh in
    libero. Vestibulum viverra pharetra neque, a consectetur nunc finibus et.
    Lorem ipsum dolor
    sit
    amet, consectetur adipiscing elit. Vivamus dapibus diam lorem, a gravida
    massa euismod eu.
    Curabitur
    nec lectus ac lectus ultricies interdum. Sed diam orci, fermentum id lectus
    in, mattis
    tincidunt
    ipsum. Proin in egestas erat, a placerat mauris. Phasellus ut consequat
    urna. Nam id purus
    lorem.
    Interdum et malesuada fames ac ante ipsum primis in faucibus.
</ng-template>

<ng-container *ngIf="fullPageLoading">
    <div *ngIf="testRendering">
        <ng-container *ngTemplateOutlet="renderingTemplate"></ng-container>
    </div>
    <div *ngIf="!testRendering">
        <ng-container *ngTemplateOutlet="notRenderingTemplate"></ng-container>
    </div>
</ng-container>

<ng-container *ngIf="!fullPageLoading">
    <div ngxBlockLoading *ngIf="testRendering"
        #loadingDirective="ngxBlockLoading">
        <ng-container *ngTemplateOutlet="renderingTemplate"></ng-container>
    </div>
    <div ngxBlockLoading *ngIf="!testRendering"
        #loadingDirective="ngxBlockLoading">
        <ng-container *ngTemplateOutlet="notRenderingTemplate"></ng-container>
    </div>
</ng-container>


<ngx-block-loading-full-page *ngIf="!useTemplate"></ngx-block-loading-full-page>
<ngx-block-loading-full-page *ngIf="useTemplate" [template]="template">
</ngx-block-loading-full-page>
